{% extends 'core/base.html' %}
{% load my_filters %}


{% block title %}
    | Home
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row-12">
            {% for match in matches %}
            <div class="match">
                <div class="table-match">
                <table border="1" class="m-3">
                    <thead>
                        <tr class="info">
                            <td>Players</td>
                            {% for i in match.number_of_sets|make_list %}
                                <td>Set {{ forloop.counter }}</td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in match.players.all %}
                            {% if player == match.players.first %}
                                <tr {% if player.is_winner %}id="winner"{% endif %} class="player">
                                    <td>{{ player }}</td>
                                    {% for set in match.set_set.all %}
                                        <td {% if set.player1_games|to_int > set.player2_games|to_int %}id="winner"{% endif %}>{{ set.player1_games }}</td>
                                    {% endfor %}
                                </tr>
                            {% else %}
                                <tr {% if player.is_winner %}id="winner"{% endif %} class="opponent">
                                    <td>{{ player }}</td>
                                    {% for set in match.set_set.all %}
                                        <td {% if set.player2_games|to_int > set.player1_games|to_int %}id="winner"{% endif %}>{{ set.player2_games }}</td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="table-stats m-2">
                <table class="myTable" id="table-2">
                    <caption>
                        MatchPoto_int Stats
                    </caption>
                    <thead>
                        <div class="info">
                            <tr class="hidden">
                                <td>Aces</td>
                                <td>Double Faults</td>
                                <td>Winners</td>
                                <td>Unforced Errors</td>
                            </tr>
                        </div>
                    </thead>
                    <tbody class="stats">
                        {% for stats in match.matchstats_set.all %}
                            <div class="info">
                                <tr class="hidden">
                                    <td>{{ stats.aces }}</td>
                                    <td>{{ stats.double_faults }}</td>
                                    <td>{{ stats.winners }}</td>
                                    <td>{{ stats.unforced_errors }}</td>
                                </tr>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
                <hr />
            {% endfor %}
        </div>
    </div>
{% endblock %}
