{% extends 'core/base.html' %}


{% block title %}
    | Login
{% endblock %}


{% block content %}
    {% if show_modal %}
        <script>
            $(document).ready(function() {
                $('#exampleModal').modal('show');
            });
        </script>
    {% endif %}

    <form method="post" action="{% url "users:login" %}">
        {% csrf_token %}
        <div class="form-group m-5">
            <h3>Login:</h3>
            <input 
            type="text"
            placeholder="Username"
            name="username"
            class="form-control m-1"
            />

            <input 
            type="password"
            placeholder="Password"
            name="password"
            class="form-control m-1"
            />

            <input 
            type="submit"
            value="Login"
            class="btn m-1"
            />
        </div>
    </form>

    <div class="m-5">
        <span>Don't have an account?</span>
        <a href="{% url "users:register" %}">Register</a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{message}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>

                <div class="modal-body">
                    The username and/or passoword that you provided are not valid.
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}