{% extends 'core/base.html' %}

{% block title %}
    | Register
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="post" action="{% url "users:register" %}">
        {% csrf_token %}
        <div class="form-group m-5">
            <h3>Register:</h3>
            {{ form|crispy }}
            <input type="submit" value="Register" class="btn m-1" />
        </div>
    </form>

    <div class="m-5">
        <span>Already have an account?</span>
        <a href="{% url "users:login" %}">Login</a>
    </div>
{% endblock %}
